<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl21:00 AEDThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>

<body>
    <% include views/toolbar %>
        <div class="container">
            <br>
            <!-- have to upload books name and image, then generate a link for the trade and save it to the database? -->
            <h3>Fill out the details below to add your book!</h3>
            <form action="/api/addbook" method="post">
                <div class="form-group">
                    <label for="inputName1">Name</label>
                    <input type="name" class="form-control" id="inputName1" placeholder="Name of Book" name="book">
                </div>
                <div class="form-group">
                    <label for="inputURL">Book Image URL</label>
                    <input type="name" class="form-control" id="inputURL" placeholder="Image URL" name="image">
                    <small id="urlHelp" class="form-text text-muted">Paste a url for an image of the book here. This will make it more visible on the site.</small>
                </div>
                <button type="submit" class="btn btn-primary">Add it!</button>
            </form>
        </div>

        <% include views/footer %>

            <!-- jQuery first, then Tether, then Bootstrap JS. -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>

</html>
