<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <script src="https://use.fontawesome.com/336201c5b0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl21:00 AEDThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  </head>
  <body>
    <% include views/toolbar %>
    
    <!-- need to be able to add books, delete books, and check for trades! -->
    <a type="button" href="/addBook" class="btn btn-primary btn-lrg">Add a Book</a>
    
    <!-- A list of the current trades the user has pending (ie trades people have asked for and trades the user has initiated) -->
    <% if (user.trades) { %>
      <h3>People want to trade books!</h3>
      <div class="card-deck">
        <div class="card">
            <% for (var i = 0; i < user.trades.length; i++) { %>
              <div class="card-deck-wrapper">
                <img class="card-img-top" src="<% user.trades[i].src %>" alt="<% user.trades[i].name %>">
                <div class="card-block">
                <h4 class="card-title"><% user.trades[i].name %></h4>
                <a href="/trade/<% user.trades[i].link %>" type="button" class="btn btn-success">Accept Trade</a>
              </div>
            <% } %>
        </div>
    </div>
    <% } %>
    <% if (user.pendingTrades) { %>
      <h3>Your pending trades</h3>
      <div class="card-deck">
        <div class="card">
            <% for (var i = 0; i < user.pendingTrades.length; i++) { %>
              <div class="card-deck-wrapper">
                <img class="card-img-top" src="<% user.pendingTrades[i].src %>" alt="<% user.pendingTrades[i].name %>">
                <div class="card-block">
                <h4 class="card-title"><% user.pendingTrades[i].name %></h4>
                <a href="/trade/<% user.pendingTrades[i].link %>" type="button" class="btn btn-success">Check Trade Status</a>
              </div>
            <% } %>
        </div>
    </div>
    <% } %>
    
    <p>Below is a list of all the books you have up on the site. Hit the trashcan to delete a book.</p>
    <h3>Your Books:</h3>
    <div class="card-deck">
      <div class="card">
        <% for (var i = 0; i < books.length; i++) { %>
          <div class="card-deck-wrapper">
          <img class="card-img-top" src="<% books[i].src %>" alt="<% books[i].name %>">
          <div class="card-block">
            <h4 class="card-title"><% books[i].name %></h4>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <% } %>
      </div>
    </div>
    
    <% include views/footer %>
    
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </body>
</html>